.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #ffbe7bff;
  border: solid rgba(27, 26, 26, 0.418);
  transition-duration: 400ms;
}
.expense-item-selected:hover {
  transform: scale3d(1.05, 1.05, 1);
  cursor: pointer;
}

ul {
  list-style-type: none;
  transition-duration: 2s;
}
.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

::placeholder{
  color: white;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item__input-description{
  display: flex;
  flex: 1;
  margin: 0 1rem;
  gap: 1rem;
  background-color: #ffbe7bff;
  border: none;
  outline: none;
  font-size: large;
  color:white;
  font-size: 1.25rem;
  font-weight: bold;
}


.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ffa351ff;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}
.expense-item__input-price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ffa351ff;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  width: 4rem;
  text-align: center;
}
.expense-item__input-price::placeholder {
  color: white;
}
.expense-item__input-price::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expense-item button {
  text-align: center;
  width: 8rem;
  height: 2rem;
  font-size: 20px;
  background-color: #ffbe7bff;
  color: white;
  border: solid 1px white;
  border-radius: 1rem;
  margin-right: 1rem;
}

.expense-item button:hover {
  background-color: #ffa351ff;
  transition-duration: 0.4s;
}

.expense-item__save-icon {
  cursor: pointer;
  margin-left: 1rem;
  transition-duration: 0.5s;
}

.expense-item__save-icon:hover {
  color: white;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
