.navigation-bar {
  background-color: #eed971ff;
  width: 10%;
  height: 100vh;
  font-size: 0.65em;
  margin-top: -2rem;
  position: fixed;
  border-radius: 0 1rem 1rem 0;
  padding-top: 1rem;
  
}
.navigation-bar__button {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffbe7bff;
  color: white;
  border: solid 1px white;
  border-radius: 1rem;
  height: 3rem;
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.25rem;
}
.navigation-bar__button:hover {
  background-color: #ffa351ff;
  transition-duration: 0.4s;
}
@media (max-width: 580px) {
  .navigation-bar {

  }
  .navigation-bar__button {

  }
}
