.navigation-bar {
  background-color: #eed971ff;
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
}
.navigation-bar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}
.navigation-bar button {
  display: block;
  text-align: center;
  width: 8rem;
  height: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  background-color: #ffbe7bff;
  color: white;
  border: solid 1px white;
  border-radius: 1rem;
}
.navigation-bar button:hover {
  background-color: #ffa351ff;
  transition-duration: 0.4s;
}
